<h1><%=l("bpm_tasks")%></h1>

<style type="text/css">
  label,  input {
    display: block;
    float: left;
  }

  label {
    text-align: right;
    width: 50px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  fieldset {
    border: solid 1px #000;
  }

  br {
    clear: left;
  }
</style>

<% unless @bpm_tasks.blank? %>
  <div class="autoscroll">
    <table class="list issues">
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Status</th>
        <th>Responsável</th>
        <th>Autor</th>
      </tr>

      <% @bpm_tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.description %></td>
          <td><%= task.status %></td>
          <td><%= task.assignee %></td>
          <td><%= task.author %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
