<div class="splitcontentleft">
  <div class="box tabular">
    <p>
      <%= f.label :active %>
      <%= f.check_box :active %>
    </p>
    <%if !@process_definition_version.constants.blank? || !@process_definition_version.end_events.blank?%>
      <%if !@process_definition_version.constants.blank?%>
        <h4> <%= t(:title_process_constants) %> </h4>
          <%= f.fields_for :constants do |f_constants| %>
            <p>
              <%= f_constants.label :constant_id, "#{f_constants.object.name} <span class='required'> *</span>".html_safe, class: 'bpm-form-label' %>
              <%= process_constants_component(f_constants, f_constants.object) %>
            </p>
          <% end %>
      <% end %>
      <%if !@process_definition_version.end_events.blank?%>
        <%if !@process_definition_version.constants.blank?%>
          <br/>
        <% end %>
        <h4> <%= t(:title_process_end_events) %> </h4>
          <%= f.fields_for :end_events do |f_end_event| %>
          <h3> <%= f_end_event.object.name %> </h3>
            <p>
              <%= f_end_event.label :issue_status, "Status <span class='required'> *</span>".html_safe, class: 'bpm-form-label' %>
              <%= f_end_event.collection_select(:issue_status_id, IssueStatus.all, :id, :name, include_blank: true) %>
            </p>
            <p>
              <%= f_end_event.label :notes, "Mensagem de conclusão".html_safe, class: 'bpm-form-label' %>
              <%= f_end_event.text_area(:notes, size: "20x4", class: 'bpm-form-notes') %>
            </p>
        <% end %>
      <% end %>
    <%end%>
  </div>
</div>

<div class="splitcontentright">
  <div class="box tabular">
    <h4> <%= t(:title_process_definition_task_definitions) %> </h4>
        <%= f.fields_for :task_definitions do |td_fields| %>
        <p>
          <%= td_fields.label :issue_status_id, td_fields.object.key.try(&:humanize), class: 'bpm-form-label' %>
          <%= td_fields.collection_select :issue_status_id, IssueStatus.all, :id, :name, include_blank: true %>
        </p>
        <% end %>
  </div>
</div>

<%if !@process_definition_version.form_field_definitions.blank? %>
  <div class="splitcontentright">
    <div class="box tabular">
      <h4> <%= t(:title_process_definition_custom_fields) %> </h4>
          <%= f.fields_for :form_field_definitions do |ffd_fields| %>
          <p>
            <%= ffd_fields.label :custom_field_id, "#{ffd_fields.object.name} <span class='required'> *</span>".html_safe, class: 'bpm-form-label' %>
            <%= ffd_fields.collection_select :custom_field_id, IssueCustomField.all, :id, :name, include_blank: true %>
          </p>
          <% end %>
    </div>
  </div>
<%end%>
