 <%= stylesheet_link_tag "process_definition_versions/index", plugin: "bpm_integration" %>
 <%= javascript_include_tag "process_definition_versions/index", plugin: "bpm_integration" %>

<% unless process_definition_versions.blank? %>
<div class="autoscroll">
  <table class="list issues">
    <tr>
      <th><%=t(:process_name)%></th>
      <th><%=t(:process_description)%></th>
      <th><%=t(:label_tracker)%></th>
      <th><%=t(:process_version)%></th>
      <th><%=t(:active)%></th>
      <th></th>
    </tr>

    <% process_definition_versions.each do |process| %>
      <tr>
        <td><%= link_to process.name, "javascript:void(0);", class: 'popup_bpm_diagram',
            'data-url' => bpm_integration_process_definition_version_path(process, format: "png")  %></td>
        <td><%= process.description %></td>
        <td><%= process.try(&:process_definition).try(&:tracker).try(&:name) %></td>
        <td><%= process.version %></td>
        <td><%= checked_image process.active? %></td>
        <td><%= link_to t(:button_edit), edit_bpm_integration_process_definition_version_path(process) %></td>
      </tr>
      <div id = "diagram_loader">
        <img id="target" src="" />
      </div>
    <% end %>
  </table>
</div>
<% end %>
