<table>
  <tbody>
    <tr>
      <th><%= t('bpm_integration.settings.bpms_url') %>:</th>
      <td>
        <input type="url" value="<%= settings['bpms_url'] %>" name="settings[bpms_url]">
      </td>
    </tr>
    <tr>
      <th><%= t('bpm_integration.settings.bpms_user') %>:</th>
      <td>
        <input type="text" value="<%= settings['bpms_user'] %>" name="settings[bpms_user]">
      </td>
    </tr>
    <tr>
      <th><%= t('bpm_integration.settings.bpms_pass') %>:</th>
      <td>
        <input type="password" value="<%= settings['bpms_pass'] %>" name="settings[bpms_pass]">
      </td>
    </tr>
    <tr>
      <th><%= t('bpm_integration.settings.bpms_new_status') %>:</th>
      <td>
        <%= select_tag 'settings[new_status]',
        options_from_collection_for_select(IssueStatus.all, 'id', 'name', settings['new_status']), include_blank: '' %>
      </td>
    </tr>
    <tr>
      <th><%= t('bpm_integration.settings.bpms_doing_status') %>:</th>
      <td>
        <%= select_tag 'settings[doing_status]',
        options_from_collection_for_select(IssueStatus.all, 'id', 'name', settings['doing_status']), include_blank: '' %>
      </td>
    </tr>

    <tr>
      <th><%= t('bpm_integration.settings.bpms_closed_status') %>:</th>
      <td>
        <%= select_tag 'settings[closed_status]',
        options_from_collection_for_select(IssueStatus.all, 'id', 'name', settings['closed_status']), include_blank: '' %>
      </td>
    </tr>
</table>
