 <%= stylesheet_link_tag "process_instances/process_instance_image_link", plugin: "bpm_integration" %>
 <%= javascript_include_tag "process_instances/process_instance_image_link", plugin: "bpm_integration" %>

<%= button_tag(l(:view_process_instance), :class => "popup-bpm-diagram") if issue.process_instance %>
<div id="teste-dialog2">
	<h2 class='titulo_diagrama_processo'>	
		<%= issue.process_instance.completed ? l(:process_finished_image) : l(:process_in_progress_image) %> 

	</h2>
	<%= image_tag(process_instance_path(issue.id, format: "png"), :class => 'diagram-bpm') %>
</div> 