<div class="box tabular">
  <h4> <%= t(:title_process_definition_info) %> </h4>
  <div class="splitcontentlefta">
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
  </div>
  <div class="splitcontentrighta">
    <%= f.fields_for :tracker_process_definition do |ff_tpd| %>
      <p>
        <%= ff_tpd.label :tracker_id, "#{t(:label_tracker)} <span class='required'> *</span>".html_safe, class: 'bpm-form-label' %>
        <%= ff_tpd.collection_select :tracker_id, Tracker.all, :id, :name, include_blank: true %>
      </p>
    <% end %>
  </div>
</div>
