 <%= stylesheet_link_tag "process_definitions/index", plugin: "bpm_integration" %>
 <%= javascript_include_tag "process_definitions/index", plugin: "bpm_integration" %>

<div class="contextual">
  <%= form_tag process_definitions_path, name: "upload_form", multipart: true do %>
    <%= file_field_tag('bpm_process_definition[upload]', style: 'display: none;') %>
    <%= link_to l('new_process'), '#', class:'icon icon-add', onclick: 'performUploadClick(document.getElementById("bpm_process_definition_upload"));' %>
    <%= submit_tag('', style: 'display: none;')  %>
  <% end %>
</div>

<h2><%=l('bpm_processes')%></h2>

<% unless @process_definitions.blank? %>
<div class="autoscroll">
  <table class="list issues">
    <tr>
      <th><%=t(:process_name)%></th>
      <th><%=t(:process_description)%></th>
      <th><%=t(:label_tracker)%></th>
      <th><%=t(:process_version)%></th>
      <th></th>
    </tr>

    <% @process_definitions.each do |process| %>
      <tr>
        <td><%= button_tag(process.name, 'data-url' => process_definition_path(process, format: "png"), class: 'bpm_diagram' )  %></td>
        <td><%= process.description %></td>
        <td><%= process.try(&:tracker_process_definition).try(&:tracker).try(&:name) %></td>
        <td><%= process.version %></td>
        <td><%= link_to t(:button_edit), edit_process_definition_path(process) %></td>
      </tr>
      <div id = "diagram_loader">
        <img id="target" src="" />
      </div>
    <% end %>
  </table>
</div>
<% end %>
