<style type="text/css">
  label,  input {
    display: block;
    float: left;
  }

  label {
    text-align: right;
    width: 50px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  fieldset {
    border: solid 1px #000;
  }

  br {
    clear: left;
  }
</style>

<script type="text/javascript">
function performUploadClick(node)
{
   document.getElementById('bpm_process_definition_upload').onchange = function() {
     document.upload_form.submit();
   };

   var evt = document.createEvent("MouseEvents");
   evt.initEvent("click", true, false);
   node.dispatchEvent(evt);
}
</script>

<div class="contextual">
  <%= form_tag process_definitions_path, name: "upload_form", multipart: true do %>
    <%= file_field_tag('bpm_process_definition[upload]', style: 'display: none;') %>
    <%= link_to l('new_process'), '#', class:'icon icon-add', onclick: 'performUploadClick(document.getElementById("bpm_process_definition_upload"));' %>
    <%= submit_tag('', style: 'display: none;')  %>
  <% end %>
</div>

<h2><%=l('bpm_processes')%></h2>

<% unless @process_definitions.blank? %>
<div class="autoscroll">
  <table class="list issues">
    <tr>
      <th><%=t(:process_name)%></th>
      <th><%=t(:process_description)%></th>
      <th><%=t(:label_tracker)%></th>
      <th><%=t(:process_version)%></th>
      <th></th>
    </tr>

    <% @process_definitions.each do |process| %>
      <tr>
        <td><%= link_to process.name, process_definition_path(process) %></td>
        <td><%= process.description %></td>
        <td><%= process.try(&:tracker_process_definition).try(&:tracker).try(&:name) %></td>
        <td><%= process.version %></td>
        <td><%= link_to t(:button_edit), edit_process_definition_path(process) %></td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>
