 <%= stylesheet_link_tag "process_definitions/index", plugin: "bpm_integration" %>
 <%= javascript_include_tag "process_definitions/index", plugin: "bpm_integration" %>

<div class="contextual">
  <%= form_tag bpm_integration_process_definition_versions_path, name: "upload_form", multipart: true do %>
    <%= file_field_tag('bpm_process_definition[upload]', style: 'display: none;') %>
    <%= link_to l('new_process'), '#', class:'icon icon-add', onclick: 'performUploadClick(document.getElementById("bpm_process_definition_upload"));' %>
    <%= submit_tag('', style: 'display: none;')  %>
  <% end %>
</div>

<h2><%=l('bpm_processes')%></h2>

<% unless @process_definitions.blank? %>
<div class="autoscroll">
  <table class="list issues">
    <tr>
      <th><%=t(:process_name)%></th>
      <th><%=t(:process_description)%></th>
      <th><%=t(:label_tracker)%></th>
      <th><%=t(:process_version)%></th>
      <th></th>
    </tr>

    <% @process_definitions.each do |process| %>
      <tr>
        <td><%= link_to process.name, "javascript:void(0);", :class => 'popup_bpm_diagram',
          'data-url' => (process.active_version.blank?? '' :
                      bpm_integration_process_definition_version_path(process.active_version, format: "png")) %></td>
        <td><%= process.active_version.try(&:description) %></td>
        <td><%= process.try(&:tracker).try(&:name) %></td>
        <td><%= process.active_version.try(&:version) %></td>
        <td><%= link_to t(:button_edit), edit_bpm_integration_process_definition_path(process) %></td>
      </tr>
      <div id = "diagram_loader">
        <img id="target" src="" />
      </div>
    <% end %>
  </table>
</div>
<% end %>
