<style type="text/css">
  label,  input {
    display: block;
    float: left;
  }

  label {
    text-align: right;
    width: 50px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  fieldset {
    border: solid 1px #000;
  }

  br {
    clear: left;
  }
</style>

<script type="text/javascript">
function performUploadClick(node)
{
   document.getElementById('upload').onchange = function() {
     document.upload_form.submit();
   };

   var evt = document.createEvent("MouseEvents");
   evt.initEvent("click", true, false);
   node.dispatchEvent(evt);
}
</script>

<div class="contextual">
    <%= form_tag upload_process_path, name: "upload_form", multipart: true do %>
      <%= file_field_tag('upload', style: 'display: none;') %>
      <%= link_to l('new_process'), '#', class:'icon icon-add', onclick: 'performUploadClick(document.getElementById("upload"));' %>
      <%= submit_tag('', style: 'display: none;')  %>
    <% end %>
</div>

<h2><%=l('bpm_processes')%></h2>

<% unless @process_list.blank? %>
<div class="autoscroll">
  <table class="list issues">
    <tr>
      <th><%=l('process_name')%></th>
      <th><%=l('process_description')%></th>
      <th><%=l('process_version')%></th>
      <th></th>
    </tr>

    <% @process_list.each do |process| %>
      <tr>
        <td><%= process.name %></td>
        <td><%= process.description %></td>
        <td><%= process.version %></td>
        <td><%= link_to l('start_process'), new_bpm_process_path(processId: process.id) %></td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>
