<style type="text/css">
  label,  input {
    display: block;
    float: left;
  }

  label {
    text-align: right;
    width: 50px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  fieldset {
    border: solid 1px #000;
  }

  br {
    clear: left;
  }
</style>

<script type="text/javascript">
function performClick(node)
{
   var evt = document.createEvent("MouseEvents");
   evt.initEvent("click", true, false);
   node.dispatchEvent(evt);
}
</script>

<div class="contextual">
    <a style="visibility: hidden;"><%= file_field_tag 'upload' %></a>
    <a class="icon icon-add" href="#" onclick="performClick(document.getElementById('upload'));">Novo processo</a>
</div>

<h2>Processos</h2>

<% unless @process_list.blank? %>
<div class="autoscroll">
  <table class="list issues">
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Versão</th>
      <th></th>
    </tr>

    <% @process_list.each do |process| %>
      <tr>
        <td><%= process.name %></td>
        <td><%= process.description %></td>
        <td><%= process.version %></td>
        <td><%= link_to l('start_process'), new_bpm_process_path(processId: process.id), method: :get %></td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>
